In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv('../no_additional_features/test_set_interpolation_with_multivariate.csv').drop(['Hour', 'SepsisLabel'], axis=1)
patients = data['Patient_ID'].unique()

In [52]:
df_list = []
for i in range(11):
    df = pd.read_csv('neighbours_test_multivariate_split_' + str(i) + '.csv', index_col=0).T
    df.columns = df.columns.astype(int)
    df_list.append(df)

In [53]:
full_df = pd.concat(df_list)

In [54]:
full_df.shape

(9889, 9889)

In [55]:
full_df.head()

,130555,130556,130557,130558,130559,130561,130562,130563,130564,130565,...,140553,140554,140555,140556,140557,140558,140559,140560,140561,140562
130555,NaN,196.518222,189.983549,409.875234,186.445139,194.510051,276.841878,150.564669,188.650702,178.356717,...,185.284069,162.017859,178.303792,1065.772652,175.904018,745.406880,160.324515,199.088915,187.214198,192.536998
130556,NaN,NaN,235.153772,395.217343,223.090446,211.341398,288.332182,189.871654,160.254142,200.985225,...,170.246990,242.739839,171.022860,1153.180577,173.447813,867.001164,196.835505,203.784613,213.535400,177.823377
130557,NaN,NaN,NaN,383.338423,106.663913,166.518680,185.701961,145.186763,170.076799,143.488515,...,146.432745,144.251475,146.715798,1110.827476,123.380728,786.848341,144.718282,152.061562,81.042039,136.093118
130558,NaN,NaN,NaN,NaN,372.033143,312.677477,399.969260,383.494401,310.071372,383.130922,...,320.979073,379.272444,372.445978,1124.621007,367.116253,832.612554,389.365722,332.403652,366.472155,374.299124
130559,NaN,NaN,NaN,NaN,NaN,120.442454,197.250844,126.635910,151.382808,126.117926,...,143.665414,131.760240,122.395771,1055.117774,134.822554,734.038748,146.660821,180.604537,105.692925,157.557476

In [60]:
full_df.index = full_df.index.astype(int)

In [66]:
full_df.loc[140554, 130559]

nan

In [94]:
for p in patients:
    if int(p) % 1000 == 0:
        print(p)
    for p_1 in patients:
        if pd.isna(full_df.at[int(p), int(p_1)]) and p != p_1:
            full_df.at[int(p), int(p_1)] = full_df.at[int(p_1), int(p)]

131000
132000
133000
134000
135000
136000
137000
138000
139000
140000

In [97]:
full_df.to_csv('full_nearest_neighbours_test_mutlivariate.csv')

In [3]:
full_df = pd.read_csv('full_nearest_neighbours_test_mutlivariate.csv', index_col=0)
full_df.columns = full_df.columns.astype(int)
full_df.index = full_df.index.astype(int)

In [4]:
full_df.head()

,130555,130556,130557,130558,130559,130561,130562,130563,130564,130565,...,140553,140554,140555,140556,140557,140558,140559,140560,140561,140562
130555,NaN,196.518222,189.983549,409.875234,186.445139,194.510051,276.841878,150.564669,188.650702,178.356717,...,185.284069,162.017859,178.303792,1065.772652,175.904018,745.406880,160.324515,199.088915,187.214198,192.536998
130556,196.518222,NaN,235.153772,395.217343,223.090446,211.341398,288.332182,189.871654,160.254142,200.985225,...,170.246990,242.739839,171.022860,1153.180577,173.447813,867.001164,196.835505,203.784613,213.535400,177.823377
130557,189.983549,235.153772,NaN,383.338423,106.663913,166.518680,185.701961,145.186763,170.076799,143.488515,...,146.432745,144.251475,146.715798,1110.827476,123.380728,786.848341,144.718282,152.061562,81.042039,136.093118
130558,409.875234,395.217343,383.338423,NaN,372.033143,312.677477,399.969260,383.494401,310.071372,383.130922,...,320.979073,379.272444,372.445978,1124.621007,367.116253,832.612554,389.365722,332.403652,366.472155,374.299124
130559,186.445139,223.090446,106.663913,372.033143,NaN,120.442454,197.250844,126.635910,151.382808,126.117926,...,143.665414,131.760240,122.395771,1055.117774,134.822554,734.038748,146.660821,180.604537,105.692925,157.557476

In [5]:
full_df.nsmallest(5, 130556)[130556]

136381    79.119155
131767    79.718840
140527    94.974947
139160    95.978235
137699    97.601049
Name: 130556, dtype: float64

In [8]:
nearest_patients_df = {}
for p in patients[:5]:
    if int(p) % 100 == 0:
        print(p)
    nearest_patients_df[p] = full_df.nsmallest(5, p)[p].index.tolist()

In [9]:
nearest_patients_df = pd.DataFrame.from_dict(nearest_patients_df)

In [11]:
nearest_patients_df.to_csv('nearest_neighbours_efficient.csv')

In [6]:
df = pd.read_csv('nearest_neighbours_efficient.csv', index_col=0)
df['130555'].tolist()

[140134, 137834, 133039, 135788, 137230]